.container {
    background-color: #3829c0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 50px auto;
   }
   h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
   }
   .search-box {
    margin-bottom: 20px; }
    
    #city-input {
        padding: 10px;
        width: calc(100% - 22px);
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px; }
       #search-btn {
        padding: 10px;
        cursor: pointer;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
    margin:10px; }

        @media (max-width: 600px) {
            .container {
            width: 100%;
            margin: 20px;
            }
            #city-input {
            width: calc(100% - 20px);
            }
            #search-btn {
            width: 100%;
            margin-top: 10px;
            }
        }



        #temperature {
            border: 2px solid;
            border-radius: 8px;
            font-size: 36px;
            color: #810666;
            margin-bottom: 10px; }

        #weather-description {
            border: 2px solid;
            border-radius: 8px;
            font-size: 18px;
            color: #670808;
            margin-bottom: 20px; }

        #city-name {
            border: 2px solid;
            border-radius: 8px;
            font-size: 24px;
            font-weight: bold;
            color: #669d14;
            margin-bottom: 10px; }
        
        .weather-info {
            background-color: #f8f9fa;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }


            .day-card {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-bottom: 20px;
                border: 2px solid;
                background-color: gold;
            }

            .day-card {

                background-color: #08e5f5;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-bottom: 20px;
                border: 2px solid;
               }
               #day-forecast{
                display: flex;
                justify-content: space-between;
                gap:10px;
                padding: 10px;
               }
    
               .day-card {
                background-color: yellow;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-bottom: 20px;
                border-color: #d25c17;
               }

        #lat-input, #lon-input {
            padding: 10px;
            width: (100% - 22px);
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #latlon-btn {
            padding: 10px;
            cursor: pointer;
            background-color: #669d14;
            color: #007BFF;
            border: none;
            border-radius: 4px;
            margin-top: 10px;
            width: 100%;
            
        }